RewriteEngine on  
RewriteRule ^index  index.php [NC,L]

RewriteRule ^home  home.php [NC,L]
RewriteRule ^license_all  license_all.php [NC,L]
RewriteRule ^license_dismiss  license_dismiss.php [NC,L]
RewriteRule ^license_renew  license_renew.php [NC,L]
RewriteRule ^license_request  license_request.php [NC,L]
RewriteRule ^adduser  adduser.php [NC,L]
RewriteRule ^officer_confirm_register  officer_confirm_register.php [NC,L]
RewriteRule ^register  register.php [NC,L]
RewriteRule ^admin_adduser  admin_adduser.php [NC,L]