RewriteEngine on  
RewriteRule ^index  index.php [NC,L]

RewriteRule ^home  home.php [NC,L]
RewriteRule ^license_all  license_all.php [NC,L]
RewriteRule ^license_dismiss  license_dismiss.php [NC,L]
RewriteRule ^license_renew  license_renew.php [NC,L]
RewriteRule ^license_request  license_request.php [NC,L]
RewriteRule ^adduser  adduser.php [NC,L]
RewriteRule ^officer_confirm_register  officer_confirm_register.php [NC,L]
RewriteRule ^register  register.php [NC,L]
RewriteRule ^admin_adduser  admin_adduser.php [NC,L]

RewriteRule ^license_typeone  license_typeone.php [NC,L]
RewriteRule ^license_typetwo  license_typetwo.php [NC,L]
RewriteRule ^license_typethree  license_typethree.php [NC,L]
RewriteRule ^license_typefour  license_typefour.php [NC,L]
RewriteRule ^license_typefive  license_typefive.php [NC,L]
RewriteRule ^license_typesix  license_typesix.php [NC,L]
RewriteRule ^license_typeseven  license_typeseven.php [NC,L]
RewriteRule ^officer_confirm_license officer_confirm_license.php [NC,L]
RewriteRule ^committee_confirm_license committee_confirm_license.php [NC,L]
RewriteRule ^officer_license_dismiss officer_license_dismiss.php [NC,L]

#https://stackoverflow.com/questions/10086989/htaccess-file-to-allow-access-to-images-folder-to-view-pictures
Options -Indexes

#https://stackoverflow.com/questions/11728976/how-to-deny-access-to-a-file-in-htaccess
#https://linuxconfig.org/how-to-deny-allow-access-to-files-using-htaccess-file
#<FilesMatch "\.(txt|pdf)$">  
   #Order Allow,Deny
   #Deny from All
#</FilesMatch>